<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
        <title>Fa'izz's Personal Website</title>
    </head>
    <body>
        <div class="main">
            <div class="pic-about">
                <img
                    class="pic"
                    src="https://github.com/JestMeow.png" alt="My GitHub pfp">
                <div class="about">
                    <h1>M. Fa'izz Shafi'ie</h1>
                    <p style="text-indent: 40px">Hello... I'm Fa'izz.</p>
                    <p>I write music and build software.</p>
                    <br>
                    <p>Some links:</p>
                    - <a href="mailto:faizz.shaf@faizzs.com" target="_blank" style="color: LinkText">faizz.shaf@faizzs.com</a>
                    <br>
                    - <a href="https://github.com/JestMeow" target="_blank" style="color: LinkText">GitHub</a>
                    <br>
                    <br>
                    <p>More about me here. (this will be a url)</p>
                </div>
            </div>
            <div class="main-buttons">
                <button class="main-button">My Music(WIP)</button>
                <button class="main-button">My Projects(WIP)</button>
            </div>

            <br>
            <p>I'll add more stuff here later.</p>
        </div>
    </body>
</html>
