<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
        <title>Fa'izz's Personal Website</title>
    </head>
    <body>
        <div class="main">
            <div class="hamburger">=</div>
            <div class="pic-about">
                <div class="banner"></div>
                <img
                    class="pic"
                    src="https://github.com/JestMeow.png" alt="My GitHub pfp">
                <div class="about">
                    <h1 class="name-display">M. Fa'izz Shafi'ie</h1>
                    <p style="text-indent: 40px">Hello... I'm Fa'izz.</p>
                    <p>I write music and build software.</p>
                    <br>
                    <p>Some links:</p>
                    - <a href="mailto:faizz.shaf@faizzs.com" target="_blank" style="color: LinkText">faizz.shaf@faizzs.com</a>
                    <br>
                    - <a href="https://github.com/JestMeow" target="_blank" style="color: LinkText">GitHub</a>
                    <br>
                    <br>
                    <p>More about me here. (this will be a url)</p>
                </div>
            </div>
            <div class="main-buttons">
                <button class="main-button">Projects</button>
                <button class="main-button">Music</button>
            </div>

            <br>
            <p>I'll add more stuff here later.</p>
            <p>The top two buttons don't have a function yet btw.</p>
            <script>
                const name_display = document.querySelector('.name-display');

                name_display.innerHTML = name_display.textContent
                    .split('')
                    .map(char => `<span style="--random-value: ${Math.random()}">${char == ' ' ? '&nbsp;' : char}</span>`)
                    .join('');


                /*
                const name_characters = name_display.textContent.split('');

                name_display.innerHTML = characters
                    .map(())*/
            </script>
        </div>
    </body>
</html>
