<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
        <title>Fa'izz's Personal Website</title>
    </head>
    <body>
        <div class="main">
            <div class="hamburger">=</div>
            <div class="pic-about">
                <div class="banner"></div>
                <img
                    class="pic"
                    src="https://github.com/JestMeow.png" alt="My GitHub pfp">
                <div class="about">
                    <h1 class="name-display">M. Fa'izz Shafi'ie</h1>
                    <p style="text-indent: 40px">Hello... I'm Fa'izz.</p>
                    <p>I write music and build software.</p>
                    <br>
                    <p>Some links:</p>
                    - <a href="mailto:faizz.shaf@faizzs.com" target="_blank" style="color: LinkText">faizz.shaf@faizzs.com</a>
                    <br>
                    - <a href="https://github.com/JestMeow" target="_blank" style="color: LinkText">GitHub</a>
                    <br>
                    <br>
                    <p>More about me here. (this will be a url)</p>
                </div>
            </div>
            <div class="main-buttons">
                <button class="main-button" onclick="show_cards('projects')">Projects</button>
                <button class="main-button" onclick="show_cards('tracks')">Music</button>
            </div>

            <br>

            <div class="project-cards">
                <p>Here are some of my projects on GitHub.</p>
                {% for row in projects_metadata %}
                <div class="project-card">
                    <h3><a style="color: var(--text-color);" href="{{ row.github_url }}" target="_blank">{{ row.title }}</a></h3>
                    <p style="text-indent: 16px;">{{ row.description }}</p>
                    <a style="color: LinkText;" href="{{ row.github_url }}" target="_blank">{{ row.github_url }}</a>
                </div>
                {% endfor %}
            </div>



            <div class="track-cards" style="display: none;">
                <p>Incase you're interested, here is my <a style="color: LinkText;" href="https://musescore.com/user/41005793">Musescore profile</a>.</p>
                {% for row in soundcloud_preview_data %}
                <div class="track-card">

                    <div style="
                            display: flex;
                            position: relative;
                                ">
                        <img id="track-cover-{{ loop.index0 }}" src="" style="
                            width: 80px;
                            height: 80px;
                            border: 1px solid var(--text-color);
                            margin-right: 16px;
                        ">

                        <button class="play-button" onclick="play_track({{ loop.index0 }})">&gt;</button>
                        <div style="margin-left: 16px">
                            <h3 style="text-decoration: underline; margin-bottom: 4px;">{{ row.title }}</h3>
                            - <a href="{{ row.track }}" target="_blank" style="color: LinkText">Soundcloud URL</a>
                            {% if row.musescore_url is not none %}
                            <br>
                            - <a href="{{ row.musescore_url }}" target="_blank" style="color: LinkText">Musescore URL</a>
                            {% endif %}
                        </div>
                        <div id="elapsed-time-{{ loop.index0 }}" style="
                         position: absolute;
                         right: 0px;
                         bottom: 0px;
                         ">0:00</div>
                    </div>

                    <div class="progress-{{ loop.index0 }}" style = "
                        width: 100%;
                        height: 8px;
                        border: 1px solid var(--text-color);

                        margin-top: 12px;
                        ">
                        <div id="progress-fill-{{ loop.index0 }}" style = "
                            width: 100%;
                            height: 8px;
                            background-color: #f50;
                            "></div>
                    </div>
                    <iframe
                        id="track-{{ loop.index0 }}"
                        style="
                            position: absolute;
                            left: -69696969px;
                            width: 1px;
                            height: 1px;
                                 "
                        width="100%" 
                        height="166" 
                        scrolling="no" 
                        frameborder="no" 
                        allow="autoplay" 
                        data-src="https://w.soundcloud.com/player/?url={{ row.track }}&color=%23ff5500&auto_play=false&hide_related=true&single_active=true&show_playcount=false&show_artwork=false">
                    </iframe>
                </div>
                {% endfor %}
            </div>

            <script src="https://w.soundcloud.com/player/api.js"></script>
            <script>
                const name_display = document.querySelector('.name-display');

                name_display.innerHTML = name_display.textContent
                    .split('')
                    .map(char => `<span style="--random-value: ${Math.random()}">${char == ' ' ? '&nbsp;' : char}</span>`)
                    .join('');


                const project_card = document.querySelector('.project-cards');
                const track_card = document.querySelector('.track-cards');

                function show_cards(type = "projects") {

                    switch (type) {
                        case "projects":
                            track_card.style.display = 'none';
                            project_card.style.display = 'block';
                            break;
                        case "tracks":
                            project_card.style.display = 'none';
                            track_card.style.display = 'block';

                            load_tracks();

                            break;
                    }
                }

                const tracks = [];
                const fills = [];
                const bars = [];
                const elapse_time = [];
                const track_image = [];

                function load_tracks() {
                    const iframes = track_card.querySelectorAll('iframe');
                    iframes.forEach(iframe => {
                        const actualSrc = iframe.getAttribute('data-src');
                        if (actualSrc && !iframe.src) {
                            iframe.src = actualSrc;
                        }
                    });


                    if (tracks.length == 0) {
                        for (let i = 0; i < {{ soundcloud_preview_data|length }}; i++) {
                            console.log('yo ' + i);

                            const track_iframe = document.getElementById(`track-${i}`);
                            const track_widget = SC.Widget(track_iframe);

                            console.log(track_widget);
                            tracks.push(track_widget);
                        }
                    }
                    console.log(tracks);



                    if (track_image.length == 0) {
                        for (let i = 0; i < {{ soundcloud_preview_data|length }}; i++) {
                            const cover = document.getElementById(`track-cover-${i}`);

                            tracks[i].bind(SC.Widget.Events.READY, () => {
                                tracks[i].getCurrentSound((sound) => {
                                    cover.src = sound.artwork_url;
                                    //cover.style.marginRight = '16px';
                                    cover.style = `
                                        height: 80px;
                                        width: 80px;
                                        margin-right: 16px;
                                        border: 1px solid var(--text-color);
                                    `;
                                });
                            });
                        }
                    }





                    if (elapse_time.length == 0) {
                        for (let i = 0; i < {{ soundcloud_preview_data|length }}; i++) {
                            const time = document.getElementById(`elapsed-time-${i}`);
                            elapse_time.push(time);
                        }
                    }



                    if (fills.length == 0) {
                        for (let i = 0; i < {{ soundcloud_preview_data|length }}; i++) {
                            const fill = document.getElementById(`progress-fill-${i}`);
                            fills.push(fill);

                            tracks[i].bind(SC.Widget.Events.PLAY_PROGRESS, (data) => {
                                fills[i].style.width = `${data.relativePosition * 100}%`;

                                elapse_time[i].innerHTML = `${format_time(data.currentPosition)}`;
                            });
                        }
                    }

                    console.log(fills);


                    if (bars.length == 0) {
                        for (let i = 0; i < {{ soundcloud_preview_data|length }}; i++) {
                            const bar = document.querySelector(`.progress-${i}`);
                            bars.push(bar);

                            bars[i].addEventListener('click', (event) => {
                                const bar = bars[i];

                                tracks[i].getDuration((duration) => {
                                    const rect = bar.getBoundingClientRect();
                                    const percent = (event.clientX - rect.left) / rect.width;

                                    tracks[i].seekTo(percent * duration);
                                });
                            });
                        }
                    }

                    console.log(bars);

                                    }

                function play_track(index) {
                    const trk = tracks[index];

                    trk.toggle(); 
                }

                function format_time(ms) {
                    const total = Math.floor(ms / 1000);
                    const minutes = Math.floor(total / 60);
                    const seconds = total % 60;
                    return `${minutes}:${seconds.toString().padStart(2, "0")}`;
                }

                

                






            </script>
        </div>
    </body>
</html>
